//!______Background________

$main-bg: #161616;
$elem-bg: #1d1d1f;
$elem-hover-bg: #393a3e;

//!_____ElementColor_______

$main-purple: #ad92fc;
$main-green: #d8ffa9;
$main-blue: #b5f2ee;

//!_____TextColor_________

$white-text: #dbdbdb;
$red-text: #a52219;
$green-text: #147747;

//!_________________________



@mixin container-style {
  background-color: $elem-bg;
  border-radius: 0.5rem;
}