.sidebar {
    background-color: #1E1E20;
    width: fit-content;
    padding: 2rem 1rem;
    margin: 1rem;
    height: calc(100vh - 2rem);
    border-radius: .5rem;

    .active {
        padding: .5rem;
        border-radius: .5rem;
        margin: .5rem auto;
        background-color: #393a3e;
        border: 0;
        scale: 1;        
        transition: all 0.3s;
    }

    ul li {
        list-style: none;
    }

    .sidebarBtn {
        padding: .5rem;
        border-radius: .5rem;
        margin: .5rem auto;
        border: 0;
    }

    svg {
        color: white;
    }
}

.icon {
    margin: 10px;
}